[data-component-id="nmhockey:player-card"] {
  border: 1px solid var(--color-blue);
  border-radius: 3rem;
  padding: 1rem 2rem;


  li {
    display: block;
    text-align: center;

  }
  .player-stats {
    ol, ul {
      columns: 4;
    }
  }
  .goalie-stats {
    ol, ul {
      columns: 5;
    }
  }
}
