<div {{ attributes.addClass('player-card')}}>
    {% include "nmhockey:titlebar" with {
      title: "#" ~ number ~ " " ~ name,
      subtitle: "Seasons: " ~ seasons
    } %}

  {% if player_stats is defined %}
  <div class="player-stats">
      {% include "nmhockey:summary" with {
        title: "Player Stats",
        columns: [
          {header: "Season", data: player_stats.seasons},
          {header: "Games", data: player_stats.gp},
          {header: "Points", data: player_stats.p},
          {header: "Goals", data: player_stats.g},
          {header: "Assists", data: player_stats.a},
          {header: "PIM", data: player_stats.pim}
        ]
      } %}
  </div>
  {% endif %}

  {% if goalie_stats is defined %}
  <div class="goalie-stats">
      {% include "nmhockey:summary" with {
      title: "Goaltending",
      columns: [
        {header: "Season", data: goalie_stats.seasons},
        {header: "GP", data: goalie_stats.gp},
        {header: "GA", data: goalie_stats.ga},
        {header: "SA", data: goalie_stats.sa},
        {header: "SVs", data: goalie_stats.sv},
        {header: "SP", data: goalie_stats.sp}
      ]
    } %}
  </div>
  {% endif %}
</div>
