<div {{attributes}}>

  {% include "nmhockey:titlebar" with { title: label, subtitle: '1 - 1'} %}

  <div class="wrapper">
    <div class="games">
      {% include "nmhockey:summary" with {
        columns: games,
        title: "Games"
      } %}

    </div>
    <div class="roster">
      <div class="players">
        {% include "nmhockey:summary" with {
          title: "Players",
          columns: players
        } %}
      </div>
      <div class="goalies">
        {% include "nmhockey:summary" with {
          title: "Goalies",
          columns: goalies
        } %}
      </div>
    </div>
  </div>

</div>
