<div {{attributes}}>

  {% include "nmhockey:titlebar" with { title: label, subtitle: record} %}

  <div class="wrapper">
    <div class="games">
      {% include "nmhockey:summary" with {
        columns: games,
        title: "Games"
      } %}

    </div>
    <div class="roster">
    {% if players|length %}
      <div class="players">
        {% include "nmhockey:summary" with {
          title: "Players",
          columns: players
        } %}
      </div>
    {% endif %}

    {% if goalies|length %}
    <div class="goalies">
        {% include "nmhockey:summary" with {
          title: "Goalies",
          columns: goalies
        } %}
      </div>
    </div>
    {% endif %}
  </div>

</div>
