<table class="listTable">
				<thead>
					<tr class="tblHdr">
						<td>&nbsp;</td>
						<td colspan="4" style="width: 30%;">Shots on Goal</td>
						<td>SHOTS</td>
						<td>GOALS</td>
						<td>T. Shots</td>
						<td>T. Goals</td>
					</tr>
				</thead>
									<tbody><tr>
						<td style="width: 5%;"><strong class="period">1</strong></td>
						<td colspan="4">
												</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
									<tr>
						<td style="width: 5%;"><strong class="period">2</strong></td>
						<td colspan="4">
												</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
									<tr>
						<td style="width: 5%;"><strong class="period">3</strong></td>
						<td colspan="4">
												</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
								<tr>
					<td colspan="7"></td>
					<td><strong>0</strong></td>
					<td><strong>0</strong></td>
				</tr>
			</tbody></table>
