<table class="penalties">
  <thead>
    <tr class="tblHdr">
      <td>#</td>
      <td>Player</td>
      <td>On</td>
    </tr>
  </thead>
	<tbody>
    <tr>
      <td></td>
      <td>Ben Parker</td>
      <td>IN</td>
    </tr>
	</tbody>
</table>
