<div {{attributes}}>
  <div>
    {% include "nmhockey:titlebar" with {
      title: label
    } %}
    {% block season_standings %}
      {% include "nmhockey:summary" with {
        title: "Standings",
        columns: team_table
      } %}
    {% endblock %}
  </div>
  <div class="details">
    <div class="games-column">
    {# TBD
      <div class="games-upcoming section">
        {% include "nmhockey:section-title" with {
          title: "Upcoming Games"
        } %}
        {% block season_next_game %}
          {% set games_table = {
            header: [
              {tag: "th", content: "Date / Time"},
              {tag: "th", content: "Away"},
              {tag: "th", content: "Home"}
            ],
            rows: [
              {cells: [
                {tag: "th", content: "7/4/24 7:15p"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "Team 3"},
              ]},
              {cells: [
                {tag: "th", content: "7/4/24 9:45p"},
                {tag: "td", content: "Team 2"},
                {tag: "td", content: "Team 4"},
              ]},
            ]
          } %}
          {% include "nmhockey:tables" with games_table %}
        {% endblock %}
      </div>
    #}
      <div class="games-list">
          {% include "nmhockey:summary" with {
            title: "Games",
            columns: games_table
          } %}
      </div>
    </div>

    <div class="stats-column">
      <div class="goalie-stats section">
        {% block season_goalies %}
          {% include "nmhockey:summary" with {
            title: "Goalies",
            columns: goalie_table} %}
        {% endblock %}
      </div>
        {% block season_players %}
          {% include "nmhockey:summary" with {
            title: 'Players',
            columns: player_table
          } %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
