<div {{attributes}}>
  <div>
    {% include "nmhockey:titlebar" with {
      title: label,
      subtitle: 'content.field_date'
    } %}
    {% include "nmhockey:section-title" with {
      title: "Standings"
    } %}
    {% block season_standings %}
      {% set season_table = {
        header: [
          {tag: "th", content: "Team"},
          {tag: "th", content: "W"},
          {tag: "th", content: "L"},
          {tag: "th", content: "OTL"},
          {tag: "th", content: "Points"}
        ],
        rows: [
          {cells: [
            {tag: "th", content: "Team 1"},
            {tag: "td", content: "3"},
            {tag: "td", content: "0"},
            {tag: "td", content: "0"},
            {tag: "td", content: "6"}
          ]},
          {cells: [
            {tag: "th", content: "Team 2"},
            {tag: "td", content: "2"},
            {tag: "td", content: "0"},
            {tag: "td", content: "1"},
            {tag: "td", content: "5"}
          ]},
          {cells: [
            {tag: "th", content: "Team 3"},
            {tag: "td", content: "2"},
            {tag: "td", content: "1"},
            {tag: "td", content: "0"},
            {tag: "td", content: "4"}
          ]},
          {cells: [
            {tag: "th", content: "Team 4"},
            {tag: "td", content: "1"},
            {tag: "td", content: "1"},
            {tag: "td", content: "1"},
            {tag: "td", content: "3"}
          ]},
        ]
      } %}
      {% include "nmhockey:tables" with season_table %}
    {% endblock %}
  </div>
  <div class="details">
    <div class="games-column">
    {# TBD
      <div class="games-upcoming section">
        {% include "nmhockey:section-title" with {
          title: "Upcoming Games"
        } %}
        {% block season_next_game %}
          {% set games_table = {
            header: [
              {tag: "th", content: "Date / Time"},
              {tag: "th", content: "Away"},
              {tag: "th", content: "Home"}
            ],
            rows: [
              {cells: [
                {tag: "th", content: "7/4/24 7:15p"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "Team 3"},
              ]},
              {cells: [
                {tag: "th", content: "7/4/24 9:45p"},
                {tag: "td", content: "Team 2"},
                {tag: "td", content: "Team 4"},
              ]},
            ]
          } %}
          {% include "nmhockey:tables" with games_table %}
        {% endblock %}
      </div>
    #}
      <div class="games-list">
        {% include "nmhockey:section-title" with {
          title: "Games"
        } %}
        {% block season_games %}
          {% set game_list = {
            header: [
              {tag: "th", content: "Date"},
              {tag: "th", content: "Away"},
              {tag: "th", content: "Score"},
              {tag: "th", content: "Home"},
            ],
            rows: [
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "4 - 1"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "4 - 1"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "4 - 1"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "4 - 1"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "4 - 1"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "4 - 1"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "7:45p"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "9:15p"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "7:45p"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "9:15p"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "7:45p"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "9:15p"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "7:45p"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "9:15p"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "7:45p"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "9:15p"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "7:45p"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "9:15p"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "7:45p"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "9:15p"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "7:45p"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "9:15p"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "7:45p"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "9:15p"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "7:45p"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "9:15p"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "7:45p"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "9:15p"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "7:45p"},
                {tag: "td", content: "Team 2"},
              ]},
              {cells: [
                {tag: "th", content: "Tuesday, August 13, 2024"},
                {tag: "td", content: "Team 1"},
                {tag: "td", content: "9:15p"},
                {tag: "td", content: "Team 2"},
              ]}
            ]
          } %}
          {% include "nmhockey:tables" with game_list %}
        {% endblock %}
      </div>
    </div>

    <div class="stats-column">
      <div class="goalie-stats section">
        {% include "nmhockey:section-title" with {
          title: "Goalies"
        } %}
        {% block season_goalies %}
          {% set goalie_table = {
            header: [
              {tag: "th", content: "Player (Team)"},
              {tag: "th", content: "GP"},
              {tag: "th", content: "W"},
              {tag: "th", content: "L"},
              {tag: "th", content: "OTL"},
              {tag: "th", content: "GAA"},
              {tag: "th", content: "SP"},
              {tag: "th", content: "GA"},
              {tag: "th", content: "SVs"},
            ],
            rows: [
              {
                cells: [
                  {tag: "th", content: "Goalie (Team)"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"}
                ]
              },
              {
                cells: [
                  {tag: "th", content: "Goalie (Team)"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"}
                ]
              },
              {
                cells: [
                  {tag: "th", content: "Goalie (Team)"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"}
                ]
              },
              {
                cells: [
                  {tag: "th", content: "Goalie (Team)"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"}
                ]
              },
              {
                cells: [
                  {tag: "th", content: "Goalie (Team)"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"},
                  {tag: "td", content: "1"}
                ]
              },
            ]
          } %}
          {% include "nmhockey:tables" with goalie_table %}
        {% endblock %}
      </div>
      <div class="player-stats">
        {% include "nmhockey:section-title" with {
          title: "Players"
        } %}
        {% block season_players %}
          {% set player_table = {
            header: [
              {tag: "th", content: "Player (Team)"},
              {tag: "th", content: "GP"},
              {tag: "th", content: "G"},
              {tag: "th", content: "A"},
              {tag: "th", content: "Pts"},
              {tag: "th", content: "PIMS"}
            ],
            rows: [
              {cells: [
                {tag: "th", content: "Player (Team)"},
                {tag: "td", content: "1"},
                {tag: "td", content: "1"},
                {tag: "td", content: "2"},
                {tag: "td", content: "3"},
                {tag: "td", content: "2:00"},
              ]},
              {cells: [
                {tag: "th", content:  "Player (Team)"},
                {tag: "td", content: "1"},
                {tag: "td", content: "1"},
                {tag: "td", content: "2"},
                {tag: "td", content: "3"},
                {tag: "td", content: "2:00"},
              ]},
              {cells: [
                {tag: "th", content: "Player (Team)"},
                {tag: "td", content: "1"},
                {tag: "td", content: "1"},
                {tag: "td", content: "2"},
                {tag: "td", content: "3"},
                {tag: "td", content: "2:00"},
              ]},
              {cells: [
                {tag: "th", content: "Player (Team)"},
                {tag: "td", content: "1"},
                {tag: "td", content: "1"},
                {tag: "td", content: "2"},
                {tag: "td", content: "3"},
                {tag: "td", content: "2:00"},
              ]},
              {cells: [
                {tag: "th", content: "Player (Team)"},
                {tag: "td", content: "1"},
                {tag: "td", content: "1"},
                {tag: "td", content: "2"},
                {tag: "td", content: "3"},
                {tag: "td", content: "2:00"},
              ]},
              {cells: [
                {tag: "th", content: "Player (Team)"},
                {tag: "td", content: "1"},
                {tag: "td", content: "1"},
                {tag: "td", content: "2"},
                {tag: "td", content: "3"},
                {tag: "td", content: "2:00"},
              ]},
              {cells: [
                {tag: "th", content: "Player (Team)"},
                {tag: "td", content: "1"},
                {tag: "td", content: "1"},
                {tag: "td", content: "2"},
                {tag: "td", content: "3"},
                {tag: "td", content: "2:00"},
              ]},
              {cells: [
                {tag: "th", content: "Player (Team)"},
                {tag: "td", content: "1"},
                {tag: "td", content: "1"},
                {tag: "td", content: "2"},
                {tag: "td", content: "3"},
                {tag: "td", content: "2:00"},
              ]},
              {cells: [
                {tag: "th", content: "Player (Team)"},
                {tag: "td", content: "1"},
                {tag: "td", content: "1"},
                {tag: "td", content: "2"},
                {tag: "td", content: "3"},
                {tag: "td", content: "2:00"},
              ]},
              {cells: [
                {tag: "th", content: "Player (Team)"},
                {tag: "td", content: "1"},
                {tag: "td", content: "1"},
                {tag: "td", content: "2"},
                {tag: "td", content: "3"},
                {tag: "td", content: "2:00"},
              ]},
              {cells: [
                {tag: "th", content: "Player (Team)"},
                {tag: "td", content: "1"},
                {tag: "td", content: "1"},
                {tag: "td", content: "2"},
                {tag: "td", content: "3"},
                {tag: "td", content: "2:00"},
              ]},
              {cells: [
                {tag: "th", content: "Player (Team)"},
                {tag: "td", content: "1"},
                {tag: "td", content: "1"},
                {tag: "td", content: "2"},
                {tag: "td", content: "3"},
                {tag: "td", content: "2:00"},
              ]},
              {cells: [
                {tag: "th", content: "Player (Team)"},
                {tag: "td", content: "1"},
                {tag: "td", content: "1"},
                {tag: "td", content: "2"},
                {tag: "td", content: "3"},
                {tag: "td", content: "2:00"},
              ]},
              {cells: [
                {tag: "th", content: "Player (Team)"},
                {tag: "td", content: "1"},
                {tag: "td", content: "1"},
                {tag: "td", content: "2"},
                {tag: "td", content: "3"},
                {tag: "td", content: "2:00"},
              ]},
              {cells: [
                {tag: "th", content: "Player (Team)"},
                {tag: "td", content: "1"},
                {tag: "td", content: "1"},
                {tag: "td", content: "2"},
                {tag: "td", content: "3"},
                {tag: "td", content: "2:00"},
              ]},
              {cells: [
                {tag: "th", content: "Player (Team)"},
                {tag: "td", content: "1"},
                {tag: "td", content: "1"},
                {tag: "td", content: "2"},
                {tag: "td", content: "3"},
                {tag: "td", content: "2:00"},
              ]},
            ]
          } %}
          {% include "nmhockey:tables" with player_table %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
