[data-component-id="nmhockey:season"] {
  padding: 0;
  .details {
    margin: 1rem 0;
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;
    }
  }
  .section {
    margin-bottom: 2rem;
  }
}
