[data-component-id="nmhockey:season-layout"] {
  padding: 0 1rem;
  .details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    margin: 1rem 0;
  }
  .section {
    margin-bottom: 2rem;
  }
}
