{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link URL, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/3.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, menu_name) }}

{% macro menu_links(items, attributes, menu_level, menu_name) %}
  {% import _self as menus %}
  {% if items %}
    {% set menu_classes = [menu_name] %}
    {% if menu_level > 0 %}
      {% set menu_classes = menu_classes|merge([
        menu_name ~ '--sub',
        menu_name ~ '--sub--' ~ menu_level]) %}
    {% endif %}
    <ul{{ attributes.addClass(menu_classes) }}>
    {% for item in items %}
      {% set item_modifiers = [menu_name ~ '__item'] %}
      {% if item.in_active_trail == TRUE %}
        {% set item_modifiers = item_modifiers|merge(['active']) %}
      {% endif %}
      {% if menu_level > 0 %}
        {% set item_modifiers = item_modifiers|merge([
          menu_name ~ '__item--sub',
          menu_name ~ '__item--sub-' ~ menu_level]) %}
      {% endif %}
      {% if item.below %}
        {% set item_modifiers = item_modifiers|merge([menu_name ~ '__item--with-sub']) %}
      {% endif %}
      <li class="{{item_modifiers|join(' ')}}">
        {% set link_classes = [menu_name ~ '__link'] %}
        {% if item.below %}
          {% set link_classes = link_classes|merge([menu_name ~ '__link--with-sub', 'expand-sub']) %}
        {% endif %}
        {% if item.in_active_trail == TRUE %}
          {% set link_classes = link_classes|merge(['active']) %}
        {% endif %}
        {% embed "nmhockey:link" with {
          url: item.url,
          title: item.title,
          classes: link_classes,
          attributes: item.attributes,
        }%}
          {% block extra %}
          {% endblock %}
        {% endembed %}
        {% if item.below %}
          {% set sub_menu_attributes = create_attribute() %}
          {{ menus.menu_links(item.below, sub_menu_attributes, menu_level + 1, menu_name) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
