<table class="players">
	<thead>
		<tr>
			<td>#</td>
			<td>Player</td>
      <td>Sub?</td>
		</tr>
	</thead>
	<tbody>
    <tr>
			<td>{{player.number}}</td>
			<td>{{player.name}}</td>
			<td>{{player.type}}</td>
		</tr>
	</tbody>
</table>
