<div {{attributes}}>

  {% include "nmhockey:titlebar" with {
    title: visitor.team ~ ' @ ' ~ home.team
  }%}

  <div class="score-summary">
    {% include "nmhockey:game-summary" %}
  </div>
  <div class="stats-summary">
    {% set score_summary = [
        {
          header: "Team",
          data: [visitor.team_link, home.team_link],
          fixed: "true"
        },
        {header: "1st", data: [visitor.goals[1]|default("0"), home.goals[1]]},
        {header: "2nd", data: [visitor.goals[2], home.goals[2]]},
        {header: "3rd", data: [visitor.goals[3], home.goals[3]]},
      ] %}
    {% if visitor.goals[4] or home.goals[4] %}
      {% set score_summary = score_summary|merge([
        {header: "OT", data: [
          visitor.goals[4]|default("0"),
          home.goals[4]|default("0")
        ]}
      ]) %}
    {% endif %}
    {% set score_summary = score_summary|merge([
      {header: "Total", data: [visitor.goals['t'], home.goals['t']]}
    ]) %}
    {% include "nmhockey:summary" with {
      title: "Scoring Summary",
      columns: score_summary
    } %}

    {% include "nmhockey:summary" with {
      title: "Goaltending",
      columns: [
        {header: "Goalie", data: [visitor.goalie.name, home.goalie.name]},
        {header: "GA", data: [home.score, visitor.score]},
        {header: "SA", data: [home.sog, visitor.sog]},
        {header: "SVs", data: [home.goalie.saves, visitor.goalie.saves]},
        {header: "SP", data: [home.goalie.sp, visitor.goalie.sp]}
      ]
    } %}
  </div>

  <div class="details">
    {% set periods = [
      {title: "Period 1", type: "Goals", items: goals.1},
      {title: "Period 2", type: "Goals", items: goals.2},
      {title: "Period 3", type: "Goals", items: goals.3}
    ] %}
    {% if goals["4"] | length %}
      {% set periods = periods|merge([{title: "Overtime", type: "Goals", items: goals["4"]}]) %}
    {% endif %}
    {% include "nmhockey:box-scores" with {
      title: "Goals",
      periods: periods
    } %}
    {% set penalty_columns = [
      {title: "Period 1", type: "Penalties", items: penalties.1},
      {title: "Period 2", type: "Penalties", items: penalties.2},
      {title: "Period 3", type: "Penalties", items: penalties.3},
    ] %}
    {% if penalties.4|length %}
      {% set penalty_columns = penalty_columns|merge([
        {title: "Overtime", type: "Penalties", items: penalties.4}
      ]) %}
    {% endif %}
    {% include "nmhockey:box-scores" with {
      title: "Penalties",
      periods: penalty_columns
    } %}
  </div>
</div>
