{% stories atoms with { title: "NMHockey/Atoms" } %}
  {% story atoms_menu with {
    name: "Menus",
    args: {
      menu_name: "test",
      items: [
        { title: "test 1", url: "#"},
        {
          title: "link 2",
          url: "#",
          below: {
            items: [
              { title: "sub1", url: "#"}
            ]
          }
        }
      ]
    }
  } %}

    <h2>Menu base</h2>
    {% include "nmhockey:menus" %}

  {% endstory %}

  {% story section_title with {
    name: "Section Title",
    args: {
      title: "Goals by Period"
    }
  } %}
    {% include "nmhockey:section-title" with {
      title: "Goals"
    } %}
  {% endstory %}

  {% story titlebar with {
    name: "Titlebar",
    args: {
      title: "title",
      subtitle: "subtitle"
    }
  } %}
    {% include "nmhockey:titlebar" %}
  {% endstory %}

  {% story atoms_tables with {
    name: "Tables"
  } %}
      {% set games_table = {
        header: [
          {tag: "th", content: "heading 1"},
          {tag: "th", content: "heading 2"},
          {tag: "th", content: "heading 3"}
        ],
        rows: [
          {cells: [
            {tag: "th", content: "row heading"},
            {tag: "td", content: "row 2"},
            {tag: "td", content: "row 3"},
          ]},
          {cells: [
            {tag: "th", content: "row heading"},
            {tag: "td", content: "row 2"},
            {tag: "td", content: "row 3"},
          ]},
          {cells: [
            {tag: "th", content: "row heading"},
            {tag: "td", content: "row 2"},
            {tag: "td", content: "row 3"},
          ]},
          {cells: [
            {tag: "th", content: "row heading"},
            {tag: "td", content: "row 2"},
            {tag: "td", content: "row 3"},
          ]},
          {cells: [
            {tag: "th", content: "row heading"},
            {tag: "td", content: "row 2"},
            {tag: "td", content: "row 3"},
          ]}
        ]
      } %}
      {% include "nmhockey:tables" with games_table %}
  {% endstory %}

{% endstories %}
