[data-component-id="nmhockey:scores-container"] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 33%;

  .score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .score {
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
    color: rgb(54, 56, 61);

    @media (min-width: 768px) {
      font-size: 9rem;
    }
  }

  .sog {
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.05em;
    font-size: 0.875rem;
    color: rgb(54, 56, 61);
    padding-top: 12px;
    white-space: nowrap;
  }

  .divider {
    font-size: 2rem;
    color: rgb(54, 56, 61);
    font-weight: 900;
    margin-bottom: 24px;

    @media (min-width: 768px) {
      font-size: 5rem;
      padding: 0px 1.2rem;
    }

  }
}
